/* Background pictures from https://www.svgbackgrounds.com
    HIGHLY RECOMMEDED */

* {
    scroll-behavior: smooth;
    transform-origin: center;
    transition: all ease-in-out 50ms;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
    background-color: white;
}

body.dark-theme {
    color: white;
    background-color: #121212;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    height: calc(2rem + 2px);
    background-color: transparent;
    font-size: 1.25rem;
    width: 60%;
    margin-left: 20%;
    z-index: 5;
}

.nav-1 {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

.title {
    font-weight: bolder;
    transition: all ease-in-out 100ms;
}

.title:hover {
    color: blueviolet;
}

body.dark-theme .title:hover {
    color: #ffec00;
}

.title-scroll {
    font-size: 1.5rem;
    position: fixed;
    left: 2.5rem;
    top: 2.5rem;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    opacity: 0.5;
}

.links a, .links-mobile a  {
    text-decoration: none;
    margin-right: 1rem;
    border: 25px;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 200ms;
}

.links a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

body.dark-theme .links a:before {
    background-color: #ffec00;
}

.links a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: blueviolet;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.links a:hover {
    color: blueviolet;
}

body.dark-theme .links a:hover {
    color: #ffec00;
}

.links a:hover:before, .links a:focus:before, .links a:active:before {
    left: 0;
    right: 0;
}
  
.theme-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    z-index: 5;
    transition: all ease-in-out 300ms;
}

.theme-scroll {
    font-size: 1.5rem;
    position: fixed;
    left: 2.5rem;
    bottom: 2.5rem;
}

.theme-button img{
    background-color: #BBF;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 15px;
    border: 1px solid transparent;
    transition: all ease-in-out 300ms;
}

body.dark-theme .theme-button img{
    background-color: #666;
}

.theme-button img:hover {
    border: 1px solid blueviolet;
}

body.dark-theme .theme-button img:hover {
    border: 1px solid #ffec0070;
}

.theme-button img {
    padding: 0.5rem;
}

.hamb, .links-menu {
    display: none;
}

.sidenav {
    position: fixed;
    top: 40vh;
    opacity: 0;
    left: 0.5rem;
    font-weight: bold;
    transition: all ease-in 500ms;
}

.sidenav-active {
    opacity: 1;
    left: 1.5rem;
}

.sidenav a {
    margin: 0.25rem;
}

.sidenav span {
    font-size: 1.5rem;
    line-height: 1rem;
}

.link {
    display: flex;
    align-items: center;
    transition: all 300ms ease-in-out;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    color: #666;
}

.active, .sidenav a:hover, .link:hover {
    color: blueviolet;
}

body.dark-theme .active, body.dark-theme .sidenav a:hover, body.dark-theme .link:hover {
    color: #ffec00;
}

.active {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: inherit;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    width: 60%;
    padding: 0 20%;
    height: 100vh;
}

section:nth-child(even) {
    background: url("./assets/bg.svg") no-repeat;
    background-size: cover;
    background-position: center;
}

body.dark-theme section:nth-child(even) {
    background: url("./assets/bg-dark.svg") no-repeat;
}

section:nth-child(odd) {
    background: linear-gradient(180deg, #DDD, #fff);
    
}

body.dark-theme section:nth-child(odd) {
    background: linear-gradient(180deg, #121212, #000);
}

.front {
    height: 80vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -10vh;
    padding: 10vh 20%;
    background: url("./assets/front.svg") no-repeat;
    background-position: top;
    background-size: cover;
}

body.dark-theme .front {
    background: url("./assets/front-dark.svg");
    background-position: top;
    background-size: cover;
}
.heading {
    margin: 0.5rem 0;
    font-size: 3rem;
    color: black;
    font-weight: bolder;
}

body.dark-theme .heading {
    color: white;
}

.content {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: #FFF;
}

body.dark-theme footer {
    background-color: #000;
}

footer svg {
    transition: all cubic-bezier(.17,.67,.29,1.2) 300ms;
    margin-left: 0.15rem;
}

footer svg:hover {
    transform: scale(1.2);    
}

.content button {
    font-size: 1.25rem;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-left: 0;
    transition: all ease-in-out 300ms;
}

body.dark-theme .content button {
    color: white;
    border: 1px solid white;
}

body.dark-theme .content button:hover {
    border: 1px solid #ffec00;
    background-color: #ffec00;
    color: black;
}

.content button:hover {
    border: 1px solid blueviolet;
    background-color: blueviolet;
    color: white;
}

h1, h2, h3, h4, p,i, b{
    margin: 1rem 0;
}

.content-box {
    padding: 0%;
    display: grid;
    grid-template-columns: repeat(3, 50%);
    grid-template-rows: repeat(3, 40%); 
    gap: 5px 5px;
}

#Projects .content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto); 
    gap: 1rem;
}

.content-box p {
    margin: 5px;
}

.skill-button {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    justify-content: flex-start;
    padding: 0.25rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 10px #CCC;
    background-color: #FFF;
    border-radius: 0.25rem;
    border: 1px solid #8a2be780;
}

body.dark-theme .skill-button {
    box-shadow: 0 0 10px #fff3;
    background-color: #121212;
    border: 1px solid #ffec0050;
}

.skill-button svg {
    margin-right: 10px;
    height: 2rem;
}

.skill-button:hover {
    transition: all 500ms ease-in-out;
    box-shadow: 0px 0px 10px #8a2be7;
    color: black;
}

body.dark-theme .skill-button:hover {
    box-shadow: 0 0 10px #ffec0075;
    color: white;
}

.social {
    margin: 0.5rem 0;
}

svg {
    margin: 0;
    margin-right: 0.25rem;
    transition: transform .15s cubic-bezier(.17,.67,.29,2.71) 0s;
}

svg:hover {
    transform: scale(1.1);
    filter: invert(38%) sepia(98%) saturate(7478%) hue-rotate(269deg) brightness(93%) contrast(91%);
}

body.dark-theme svg:hover {
    filter: invert(89%) sepia(67%) saturate(1730%) hue-rotate(359deg) brightness(109%) contrast(102%);   
}

.project
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 15rem;
    width: 15rem;
    font-size: large;
    border-top: 2px solid #8a2be760;
    border-right: 2px solid #8a2be760;
    border-radius: 0 10px;
    padding: 0.25rem;
    background: linear-gradient(45deg, #FFF3, #FFF);
    text-align: center;
    transition: all ease-in-out 300ms;
    box-sizing: border-box;
}

body.dark-theme .project{
    background-color: #121212;
    border-color: #ffec0050;
    background: linear-gradient(45deg, #0003, #000);
}

.project:hover {
    border-top: 2px solid #8a2be7;
    border-right: 2px solid #8a2be7;
    transform: scale3d(1.05, 1.05, 1.05);
}

body.dark-theme .project:hover {
    border-top: 2px solid #ffec00;
    border-right: 2px solid #ffec00;
}

.project p {
    font-size: 1rem;
}

.project svg {
    transform: scale(0.75);
}
.project h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem;
}

.tech li {
    border-radius: 50px;
    font-size: 1rem;
    background-color: #6663;
    margin: 0.25rem;
    padding: 7.5px;
    border: none;
}

body.dark-theme .tech li {
    background-color: #ccc7;
    color: black;
    border: none;
}

.tech li:hover {
    transition: all 300ms ease-in-out;
    border: none;
    background-color: #9999;
}

body.dark-theme .tech li:hover {
    border: none;
    background-color: #CCC;
}

h1, h2, h3, span, p {
    margin: 0.5rem 0;
}

.hamb {
    z-index: 5;
}

.links-menu {
    background-color: white;
    z-index: 2;
}

.links-mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    position: absolute;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    top: 0%;
    left: 0%;
}

body.dark-theme .links-mobile {
    background-color: #121212;
}

.links-mobile li{
    margin: 1rem;
    padding: 0.25rem;
    width: 80%;
    text-align: left;
    border-bottom: 1px solid black;
}

body.dark-theme .links-mobile li{
    border-color: white;
}

.hamb input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 25px;
  left: 14px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

.hamb span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    margin-right: 1rem;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
}

.menu-active {
    display: flex;
}

@media screen and (max-width: 1200px) {
    section {
        height: auto;
        padding-top: 5rem;
    }
    #Projects .content {
        grid-template-columns: repeat(2, auto);
        gap: 20px;
    }
}

@media screen and (max-width: 950px) {
    section, .front{
        padding-left: 10%;
        padding-right: 10%;
        width: 80%;
    }
    
    nav {
        margin-left: 10%;
        width: 80%;
    }
    
    section .content {
        font-size: 1rem;
    }

    .sidenav {
        display: none;
    }
    
    .theme-scroll {
        display: none;
    }
    
    .title-scroll {
        display: none;
    }
 
    .content-box {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto); 
        gap: 15px;
    }
}

@media screen and (max-width: 740px) {
    .content-box {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto); 

    }
    
    #Projects .content {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto); 
    }
    
    .project {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .front {
        height: 100vh;
        padding: 3rem 5%;
        width: 90%;
    }


    section {
        padding: 3rem 5%;
        width: 90%;
        align-items: center;
    }

    .content-box {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto); 
    }

    .skill-button {
        padding: 0.1rem;
        width: 40vw;
    }

    .heading {
        align-self:flex-start;
    }

    .links {
        display: none;
    }

    nav {
        align-items: flex-start;
        justify-content: left;
        margin-left: 5%;
    }
    
    .title {
        display: none;
    }

    .hamb, .links-menu {
        display: block;
    }

}